@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly Project</h1>
    <p class="lead">
        This is an open-source project used to improve the .NET MVC concepts based on a course timeline.<br />
        Into this project we will describe several concepts such as :
    </p>
    <ul>
        <li>.NET MVC</li>
        <li>Entity Frameworks</li>
        <li>MVC Architecture</li>
        <li>Design Patterns</li>
        <li>JQuery and its components</li>
        <li>Bootstrap</li>
    </ul>
    <br />
    <p><a href="https://github.com/gigiogodoi/Vidly" class="btn btn-primary btn-lg">Check it out on GitHub</a></p>
</div>