@model IEnumerable<Vidly.TO.MovieTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<table id="movies" class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-success btn-sm" })
</p>
@section scripts
{
    <script>

        var jsTable = "#movies";

        $(document).ready(function () {

            var dtTable = $(jsTable).DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "gender.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-movie-id=" + data + " class='btn btn-danger btn-sm btn-block js-delete'>Delete</button>"
                        }
                    }
                ]
            });
            $(jsTable).on("click", ".js-delete", function (e) {
                e.preventDefault();
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                dtTable.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });

    </script>
}